{% load app_extras comments_extras %}
<div id="{{ post|element_id }}"
     class="dark:bg-gruv-layer1 flex flex-col my-2 card shadow-md rounded-lg overflow-hidden p-4">
    <!-- Top Level: Author, Tags, etc. -->
    <div class="flex justify-between items-center mb-2 ">
        <div class="flex items-center space-x-2">
            <!-- Author and other top-level information -->
            {% include "partials/profile_button.html" with user=post.user %}
            {% include "partials/profile_button.html" with user=post.user %}
        </div>
        <div class="flex items-center space-x-2">
            <!-- Author and other top-level information -->
            {% include "partials/profile_button.html" with user=post.user %}
            {% include "partials/profile_button.html" with user=post.user %}
            {% include "partials/profile_button.html" with user=post.user %}
        </div>
    </div>
    <!-- Middle Level: Content, Title, Description, etc. -->
    <article>
        <header>
            <a href="{% url 'posts:detail' post.id %}"
               preload="mouseover"
               class="no-anchor">{{ post.title }}</a>
        </header>
        <p class="text-sm muted">
            <!--{% include "partials/profile_link.html" with user=post.user %}
            {% points_count post %}
            •

            •
            -->
            <span class="whitespace-nowrap">
                {% blocktranslate trimmed with age=post.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            •
            {% comment_count post %}
        </p>
    </article>
    <!-- Bottom Level: Engagement Numbers -->
    {% include "partials/button_bar.html#form" with item=post %}
</div>
<!--
div id="{{ post|element_id }}"
     class="flex flex-col my-4 card bg-white shadow-md rounded-lg overflow-hidden p-4">
    <article max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl>
    -->
