{% load app_extras comments_extras %}
<div id="{{ post|element_id }}" class="flex flex-col my-4">
    <article>
        <header>
            <a href="{% url 'posts:detail' post.id %}"
               preload="mouseover"
               class="no-anchor">{{ post.title }}</a>
        </header>
        <p class="text-sm muted">
            <!--{% include "partials/profile_link.html" with user=post.user %}
            {% points_count post %}
            •

            •
            -->
            <span class="whitespace-nowrap">
                {% blocktranslate trimmed with age=post.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            •
            {% comment_count post %}
        </p>
    </article>
    {% include "partials/button_bar.html#form" with item=post %}
    <!--
    <div id="buttons" class="flex flex-row mt-4 space-x-2">
        {% include "partials/interest.html#form" with item=post %}
        {% include "partials/vote.html#form" with item=post %}
        {% include "partials/disinterest.html#form" with item=post %}
    </div>
    -->
</div>
